  <!-- ****** Header Area Start ****** -->
<header class="header_area">
    <div class="container">
        <div class="row">
            <!-- Logo Area Start -->
            <div class="col-12">
                <div class="logo_area text-center">
                    <a href="index.html" class="yummy-logo">Gornji Milanovac</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-links></app-links>
            </div>
        </div>
    </div>
</header>
  <!-- ****** Header Area End ****** -->
