<footer class="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-content">
                    <!-- Logo Area Start -->
                    <div class="footer-logo-area text-center">
                        <a href="index.html" class="yummy-logo">Gornji Milanovac</a>
                    </div>
                    <!-- Menu Area Start -->
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-12">
                    <app-links></app-links>
                </div>
        </div>
    </div>
</footer>