<!-- ****** Single Blog Area Start ****** -->
<section @fade class="single_blog_area section_padding_80">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10">
				<div class="row no-gutters">

					

				
					<div class="col-11 col-sm-12">
						<div class="single-widget-area about-me-widget text-center">
							<div class="widget-title">
								<h6>O autoru</h6>
							</div>
							<div class="about-me-widget-thumb">
								<img src="assets/img/autor.jpg" alt="Veljko Radenković">
							</div>
							<h4 class="font-shadow-into-light">Veljko Radenković</h4>
							<p>Rodjen 26. februar 1996. godine. Student završne godine na Visokoj ICT školi, smer IT, modul Web programiranje.</p>
						</div>
					</div>
				</div>
			</div>

			<!-- ****** Blog Sidebar ****** -->
			<div class="col-12 col-sm-8 col-md-6 col-lg-4">
				<div class="blog-sidebar mt-5 mt-lg-0">
					<!-- Single Widget Area -->
				

				
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ****** Single Blog Area End ****** -->

