<!-- ****** Breadcumb Area Start ****** -->
<div class="breadcumb-area" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12">
              <div class="bradcumb-title text-center">
                  <h2>Kontaktirajte nas</h2>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="breadcumb-nav">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Početna</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Kontaktirajte nas</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ****** Breadcumb Area End ****** -->

<!-- ****** Contatc Area Start ****** -->
<div class="contact-area section_padding_80">
  <div class="container">
     

    <div class="contact-info-area section_padding_80_50">
      <div class="row">
        <!-- Single Contact Info -->
        <div class="col-12 col-md-6">
          <div class="single-contact-info mb-30 text-center wow fadeInUp" data-wow-delay="0.3s">
            <h4>Telefon</h4>
            <p>Mobilni: 064/8945132<br />Kancelarija: 026/4100564<br />Kancelarija: 011/4512548</p>
          </div>
        </div>
        <!-- Single Contact Info -->
        <div class="col-12 col-md-6">
          <div class="single-contact-info mb-30 text-center wow fadeInUp" data-wow-delay="0.6s">
            <h4>Email</h4>
            <p>Kancelarija: info.gornjimilanovac@gmail.com<br />Lični email: veljko@gmail.com</p>
          </div>
        </div>
      </div>
    </div>

      <!-- Contact Form  -->
      <div class="contact-form-area">
          <div class="row">
              <div class="col-12 col-md-5">
                  <div class="contact-form-sidebar item wow fadeInUpBig" data-wow-delay="0.3s" >
                    <img src="assets/img/bg-img/contact.jpg" />
                  </div>
              </div>
              <div class="col-12 col-md-7 item">
                  <div class="contact-form wow fadeInUpBig" data-wow-delay="0.6s">
                      <h2 class="contact-form-title mb-30">Ako imate pitanje javite nam se već danas !</h2>
                      <!-- Contact Form -->
                      <form #f="ngForm" (ngSubmit)="submit(f.value)">
                          <div class="form-group">
                              <input required minlength="3" ngModel name="fName" #fName="ngModel" type="text" class="form-control" id="fname" placeholder="Ime">
                          </div>
                          <div *ngIf="fName.touched && fName.invalid" class="alert alert-danger">
                                <div *ngIf="fName.errors.required">Ime je obavezno</div>
                                <div *ngIf="fName.errors.minlength">Ime mora imati najmanje 3 karaktera</div>
                          </div>

                          <div class="form-group">
                            <input required minlength="3" ngModel name="lName" #lName="ngModel" type="text" class="form-control" id="lname" placeholder="Prezime">
                        </div>
                        <div *ngIf="lName.touched && lName.invalid" class="alert alert-danger">
                                <div *ngIf="lName.errors.required">Prezime je obavezno</div>
                                <div *ngIf="lName.errors.minlength">Prezime mora imati najmanje 3 karaktera</div>
                          </div>
                          <div class="form-group">
                              <input required ngModel name="email" #email="ngModel" type="email" class="form-control" id="email" placeholder="Email">
                          </div>
                          <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                                <div *ngIf="email.errors.required">Email je obavezan</div>
                          </div>
                          <div class="form-group">
                              <input required ngModel name="subject" #subject="ngModel" type="text" class="form-control" id="subject" placeholder="Naslov">
                          </div>
                          <div *ngIf="subject.touched && subject.invalid" class="alert alert-danger">
                                <div *ngIf="subject.errors.required">Naslov je obavezan</div>
                          </div>
                          <div class="form-group">
                              <textarea required ngModel name="message" #message="ngModel" class="form-control" id="message" cols="30" rows="10" placeholder="Poruka"></textarea>
                          </div>
                          <div *ngIf="message.touched && message.invalid" class="alert alert-danger">
                                <div *ngIf="message.errors.required">Poruka je obavezna</div>
                          </div>
                          <button type="submit" class="btn contact-btn">Pošalji</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
<!-- ****** Contact Area End ****** -->
