
<!-- ****** Blog Area Start ****** -->
<section class="blog_area section_padding_0_80">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
              <div class="row">

                  <!-- Single Post -->

                  <div *ngFor="let p of postovi">
                  <div class="col-12">
                      <div class="single-post wow fadeInUp" data-wow-delay=".2s">
                          <!-- Post Thumb -->
                          <div class="post-thumb">
                              <img src="{{ p.putanja }}" alt="{{p.alt}}">
                          </div>
                          <!-- Post Content -->
                          <div class="post-content">
                              <div class="post-meta d-flex">
                                  <div class="post-author-date-area d-flex">
                                      <!-- Post Author -->
                                      <div class="post-author">
                                          <a routerLink="/about">{{p.autor | uppercase}}</a>
                                      </div>
                                      <!-- Post Date -->
                                      <div class="post-date">
                                          <a href="#">{{p.kreirano}}</a>
                                      </div>
                                  </div>
                                
                              </div>
                              <a href="#">
                                  <h2 class="post-headline">{{p.naslov}}</h2>
                              </a>
                              <p>{{p.opis}}</p>
                              <a [routerLink]="['/post', p.id]" class="read-more" >Nastavak..</a>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ****** Blog Area End ****** -->


